body{
  background-color: white;
  color: black;
  background-image: url("../images/baccueil_bg.jpg"); /*http://cdn1.theodysseyonline.com/files/2016/01/04/6358748036944186621892622963_music.jpg*/
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(180, 180, 180);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer{
  text-align: center;
  background-color: rgb(54, 149, 212);
  width: 100vw;
  color: white;
  position: fixed;
  bottom: 0;
}

td{
  padding: 1em;
}

section{
  color: rgb(41,41,41);
}

.bienvenue{
  margin: auto;
  width: 90vw;
}

.bienvenue img{
  width: 30em;
}

p{
  font-size: 1.7em;
  font-weight: bold;
  font-family: sans-serif;
  text-indent: 1.5em;
  margin-top: 2em;
}

.play{
  background-color: rgba(150, 150, 150, 0.6);
  width: 100%;
  text-align: center;
}

#button_play{
  cursor: pointer;
  font-size: 2em;
  border: none;
  border-radius: 2em;
  padding: 1em 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: white;
  background-color: rgb(54, 149, 212);
  transition: 0.5s;
}

#button_play:hover{
  background-color: rgb(94, 189, 252);
  transition: 0.2s;
}

.vide33{
  width: 33vw;
}
